
        <!-- Search Area Start Here -->
        <section class="bg-accent fixed-menu-mt featured-product-area item-pb">
            <div class="container">
                <div class="row featured-product-inner-area zoom-gallery">
                    <div class="order-xl-2 order-lg-2 col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 mb--sm">
                    <form action="{% url 'search_url' %}">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  name='search-classified' placeholder="Что Вы Ищете? . . .">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="fa fa-search"></span>
                            </button>
                            </span>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Search Area End Here -->