{% load static %}
{% load solo_tags %}
{% get_solo 'classified.SiteConfiguration' as site_config %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block seo_title %} - Доска объявлений{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/owl.theme.default.min.css' %}">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <!-- <div id="preloader"></div>-->
    <!-- Preloader End Here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header-three" class="header-style3 header-fixed bg-body">
                <div class="header-top-bar top-bar-style3">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="top-bar-left">
                                    <a href="{% url 'add_classified_url' %}" class="cp-default-btn d-lg-none">Post Your Ad</a>
                                    <p class="d-none d-lg-block">
                                        <i class="fa fa-life-ring" aria-hidden="true"></i>Have any questions? +088 199990 or mail@classipost
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="top-bar-right">
                                    <ul>
                                        <li>
                                            {% if not user.is_authenticated %}
                                            <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-lock" aria-hidden="true"></i>Войти
                                            </button>
                                            {% else %}
                                                <form method="post" action="{% url 'account_logout' %}">
                                                  {% csrf_token %}
                                                  {% if redirect_field_value %}
                                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                                  {% endif %}
                                                  <button type="submit" type="button" class="login-btn"><i class="fa fa-lock" aria-hidden="true"></i>Выйти</button>
                                                </form>
                                            {% endif %}
                                        </li>
                                        {% if user.is_authenticated %}
                                            <li class="hidden-mb">
                                                <a class="login-btn" href="#" id="login-button">
                                                    <i class="fa fa-user"></i>{% load account %}{% user_display user %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'get_user_classifieds_url' %}">Объявления</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-menu-area" id="sticker">
                    <div class="container">
                        <div class="row no-gutters d-flex align-items-center">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <div class="logo-area">
                                    <a href="{% url 'home_url' %}" class="img-fluid"><img src="{% static 'img/logo-dark.png' %}" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 possition-static">
                                <div class="cp-main-menu">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="{% url 'home_url' %}">Главная</a></li>
                                            {% if site_config.pages_menu %}
                                                {% for menu_item in site_config.pages_menu.all %}
                                                    <li><a href="{{ menu_item.get_absolute_url }}">{{ menu_item.title }}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                            {% if site_config.blog_active %}
                                                <li><a href="{% url 'get_blog_list_url' %}">Блог</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 text-right">
                                <a href="{% url 'add_classified_url' %}" class="cp-default-btn">Post Your Ad</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="index4.html#">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 1</a></li>
                                                <li><a href="index2.html">Home 2</a></li>
                                                <li><a href="index3.html">Home 3</a></li>
                                                <li><a href="index4.html">Home 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">Who We Are</a></li>
                                        <li><a href="how-it-works.html">How It Works?</a></li>
                                        <li><a href="index4.html#">Pages</a>
                                            <ul>
                                                <li><a href="pricing.html">Pricing Plan</a></li>
                                                <li><a href="category-grid-layout1.html">Grid View 1</a></li>
                                                <li><a href="category-grid-layout2.html">Grid View 2</a></li>
                                                <li><a href="category-grid-layout3.html">Grid View 3</a></li>
                                                <li><a href="category-list-layout1.html">List View 1</a></li>
                                                <li><a href="category-list-layout2.html">List View 2</a></li>
                                                <li><a href="category-list-layout3.html">List View 3</a></li>
                                                <li><a href="single-product-layout1.html">Product Details 1</a></li>
                                                <li><a href="single-product-layout2.html">Product Details 2</a></li>
                                                <li><a href="single-product-layout3.html">Product Details 3</a></li>
                                                <li><a href="favourite-ad-list.html">Favourite Ad</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="post-ad.html">Post Ad</a></li>
                                                <li><a href="report-abuse.html" data-toggle="modal" data-target="#report_abuse">Report Abuse</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'get_blog_list_url' %}">Блог</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
		{% block content %}

        {% endblock %}
        <!-- Footer Area Start Here -->
        <footer>
            <div class="footer-area-top s-space-equal">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-box">
                                <h3 class="title-medium-light title-bar-left size-lg">About us</h3>
                                <ul class="useful-link">
                                    <li>
                                        <a href="about.html">About us</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Career</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Terms &amp; Conditions</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Sitemap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-box">
                                <h3 class="title-medium-light title-bar-left size-lg">How to sell fast</h3>
                                <ul class="useful-link">
                                    <li>
                                        <a href="index4.html#">How to sell fast</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Buy Now on Classipost</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Membership</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Banner Advertising</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Promote your ad</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-box">
                                <h3 class="title-medium-light title-bar-left size-lg">Help &amp; Support</h3>
                                <ul class="useful-link">
                                    <li>
                                        <a href="index4.html#">Live Chat</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">Stay safe on classipost</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-box">
                                <h3 class="title-medium-light title-bar-left size-lg">Follow Us On</h3>
                                <ul class="folow-us">
                                    <li>
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/follow1.jpg' %}" alt="follow">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/follow2.jpg' %}" alt="follow">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="social-link">
                                    <li class="fa-classipost">
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/facebook.jpg' %}" alt="social">
                                        </a>
                                    </li>
                                    <li class="tw-classipost">
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/twitter.jpg' %}" alt="social">
                                        </a>
                                    </li>
                                    <li class="yo-classipost">
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/youtube.jpg' %}" alt="social">
                                        </a>
                                    </li>
                                    <li class="pi-classipost">
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/pinterest.jpg' %}" alt="social">
                                        </a>
                                    </li>
                                    <li class="li-classipost">
                                        <a href="index4.html#">
                                            <img src="{% static 'img/footer/linkedin.jpg' %}" alt="social">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center-mb">
                            <p>Copyright © classipost</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right text-center-mb">
                            <ul>
                                <li>
                                    <img src="{% static 'img/footer/card1.jpg' %}" alt="card">
                                </li>
                                <li>
                                    <img src="{% static 'img/footer/card2.jpg' %}" alt="card">
                                </li>
                                <li>
                                    <img src="{% static 'img/footer/card3.jpg' %}" alt="card">
                                </li>
                                <li>
                                    <img src="{% static 'img/footer/card4.jpg' %}" alt="card">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="title-default-bold mb-none">Login</div>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        {% if not user.is_authenticated %}
                        <form action="{% url 'account_login' %}" method="POST">
                            {% csrf_token %}
                            {% for field in login_form %}
                               {{ field.label_tag }}
                              {{ field.error_messages }}
                                {{ field }}
                            {% endfor %}
                            <button class="default-big-btn" type="submit" value="Login">Login</button>
                            <label class="lost-password"><a href="{% url 'account_reset_password' %}">Lost your password?</a></label>
                            <label class="lost-password"><a href="{% url 'get_register_url' %}">Регистрация нового пользователя</a></label>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->
    <!-- Report Abuse Modal Start-->
    <div class="modal fade" id="report_abuse" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content report-abuse-area radius-none">
                <div class="gradient-wrapper">
                    <div class="gradient-title">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="item-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>There's Something Wrong With This Ads?</h2>
                    </div>
                    <div class="gradient-padding reduce-padding">
                        <form id="report-abuse-form">
                            <div class="form-group">
                                <label class="control-label" for="first-name">Your E-mail</label>
                                <input type="text" id="first-name" class="form-control" placeholder="Type your mail here ...">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label" for="first-name">Your Reason</label>
                                    <textarea placeholder="Type your reason..." class="textarea form-control" name="message" id="form-message" rows="7" cols="20" data-error="Message field is required" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="cp-default-btn-sm">Submit Now!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Report Abuse Modal End-->
    <!-- jquery-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Owl Cauosel JS -->
    <script src="{% static 'vendor/OwlCarousel/owl.carousel.min.js' %}"></script>
    <!-- Meanmenu Js -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <!-- Srollup js -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- jquery.counterup js -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- Select2 Js -->
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- Isotope js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>
            // Здесь представлена реализация для добавления нового объявления, фото не загружаются в базу сразу, а храняться в браузере, и только после отправки формы отправляются.
            let my_count_id = 0;
            //Т.к Джанго изначально выводит hidden инпуты с мета информацией, и количеством форм. Будем менять количество форм в этой мета инфорации, при добавлении новых фото. Только так джанго считает наши добавленные лишними инпуты и сохранит изображения в базу.
            let my_count_forms = 1;
            $('#image-add-items').on('change', '.photo-upload', function (event) {
                    let my_return = handleFiles(this.files);
                    //$(this).css('background-image', `url($(str_my_return))`);
                    let add_photo_block = $(this).closest(".form-group");
                    add_photo_block.attr('style', 'background-image: url('+ my_return +');' );
                    $('#id_form-TOTAL_FORMS').attr('value', my_count_forms);
            });
              function handleFiles(files) {
                    console.log(files);
                    for (let i = 0; i < files.length; i++) {
                         console.log(files[i]);
                          let url_image = window.URL.createObjectURL(files[i]);
                          //img.onload = function() {
                          //  window.URL.revokeObjectURL(this.src);
                          //}
                          ++my_count_id;
                          ++my_count_forms;
                          let add_image_block = `<div class="col-sm-3 image-block image-block-add"><div class="form-group photo-upload-block"><input type="file" name="form-${my_count_id}-image" class="form-control photo-upload" id="id_form-${my_count_id}-image"><input type="hidden" name="form-${my_count_id}-id" id="id_form-${my_count_id}-id"></div></div>`;
                          $('.image-block:first').before(add_image_block);
                          return url_image;
                    }

                }
        </script>
        <script>
            // Здесь же в отличие от добавление нового объявления, реализация представлена для редактирования объявления. Здесь изображения моментально в базу загружаются. Да это не практично, но оставил как вариант, для примера, когда это будет необходимо в других случаях.
            $(document).ready(function () {
                let add_photo_block = $(".photo-upload").closest(".form-group");
                add_photo_block.addClass('photo-upload-block');
                $('.image-block-edit .photo-upload').on('change', function () {
                    let form = $('#post-edit-form');
                    //Использовал эту инструкцию https://stackoverflow.com/questions/49921422/send-file-to-django-througth-ajax, и плагин http://malsup.com/jquery/form/#api
                    options = {
                        url: form.attr('action'),
                        type: 'POST',
                        success: function(response) {
                            let url_image = response.new_image_url;
                            let add_image_block = `<div class="col-sm-3 image-block new-added"><div class="form-group"><a href="${url_image}" target="_blank"><img src="${url_image}" /></a><input type="hidden" name="form-0-id" value="11" id="id_form-0-id"></td></tr></div></div>`;
                            $('.image-block:first').before(add_image_block);
                            }
                        };
                    form.ajaxSubmit(options);
                    //Далее мы очищаем инпут наш, чтобы при сохранении формы, не дублировалось уже загруженное изображение
                    // ВАЖНО РАССМОТРЕТЬ, ВОЗМОЖНО СДЕЛАТЬ ЗАГРУЗКУ ЧЕРЕЗ TEMPORARY файлз, типа вдруг пользователь решит не сохранять отредактированное объявление.
                    $('.photo-upload').val('');
                })
            })
        </script>
</body>

</html>