{% extends 'base.html' %}
{% block seo_title %}Ваши объявления{% endblock %}
{% block seo_description %}Ваши объявления. Объявления пользователя username{% endblock %}

{% block content %}
{% include 'includes/search.html' %}

<!-- Login Area Start Here -->
        <section class="s-space-bottom-full bg-accent-shadow-body">
            <div class="container">
                <div class="breadcrumbs-area">
                    <ul>
                        <li><a href="{% url 'home_url' %}">Главная</a> -</li>
                        <li class="active">Ваши объявления</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="gradient-wrapper sidebar-item-box">
                            <ul class="nav tab-nav my-account-title">
                                <li class="nav-item"><a class="active" href="my-account.html#personal" data-toggle="tab" aria-expanded="false">Personal Information</a></li>
                                <li class="nav-item"><a href="my-account.html#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
                                <li class="nav-item"><a href="my-account.html#my-add" data-toggle="tab" aria-expanded="false">My Ads</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        <div class="tab-content my-account-wrapper gradient-wrapper input-layout1">
                            <div role="tabpanel" class="gradient-padding tab-pane fade" id="personal">
                                <h2 class="title-section">Personal Information</h2>
                                <form id="login-page-form">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label possition-top">Account</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline1" checked="">
                                                    <label for="inlineRadio1">Indivisual</label>
                                                </div>
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline1">
                                                    <label for="inlineRadio2">Business</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">Email</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="first-name2" class="form-control" placeholder="Enter your e-mail here . . .">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">First Name</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="first-name" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">Last Name</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="last-name" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">Phone</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="phone" class="form-control" placeholder="Your Phone Number">
                                                <div class="checkbox checkbox-primary checkbox-circle">
                                                    <input id="checkbox1" type="checkbox" checked="">
                                                    <label for="checkbox1">Hide the phone number on the published ads.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">Current Password</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="c-password" class="form-control" placeholder="Type  Your Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">New Password</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="n-password" class="form-control" placeholder="Type  Your Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                            <label class="control-label">Confirm Password</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                                            <div class="form-group">
                                                <input type="text" id="r-password" class="form-control" placeholder="Type  Your Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="ml-auto col-lg-9 col-md-8 col-sm-8 col-12 ml-none--mb">
                                            <div class="form-group">
                                                <button type="submit" class="cp-default-btn-sm">Update Details!</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="gradient-padding tab-pane fade" id="profile">
                                <h3 class="title-section">Public Profile</h3>
                                <div class="public-profile">
                                    <div class="public-profile-item">
                                        <div class="public-profile-title">
                                            <h4>Avatar</h4>
                                        </div>
                                        <div class="public-profile-content">
                                            <img class="img-fluid" src="img/user/avatar.jpg" alt="Avatar">
                                            <div class="file-title">Upload a new avatar:</div>
                                            <div class="file-upload-area"><a href="my-account.html#">Choose File</a>No File Choosen</div>
                                            <div class="file-size">JPEG 80x80px</div>
                                        </div>
                                    </div>
                                    <div class="public-profile-item">
                                        <div class="public-profile-title">
                                            <h4>Banner Image</h4>
                                        </div>
                                        <div class="public-profile-content">
                                            <img class="img-fluid" src="img/user/banner.jpg" alt="Avatar">
                                            <div class="file-title">Upload a new homepage image:</div>
                                            <div class="file-upload-area"><a href="my-account.html#">Choose File</a>No File Choosen</div>
                                            <div class="file-size">JPEG 590x242</div>
                                        </div>
                                    </div>
                                    <div class="public-profile-item">
                                        <div class="public-profile-title">
                                            <h4>Profile Heading</h4>
                                        </div>
                                        <div class="public-profile-content">
                                            <input class="profile-heading" type="text" value="">
                                            <div class="file-size">Appears on your profile page</div>
                                        </div>
                                    </div>
                                    <div class="public-profile-item">
                                        <div class="public-profile-title">
                                            <h4>Update Profile</h4>
                                        </div>
                                        <div class="public-profile-content">
                                            <a href="my-account.html#" class="cp-default-btn-lg" id="save">Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade active show" id="my-add">
                               <div class="row">
                                   <div class="col-lg-12">
                                       <div class="gradient-wrapper item-mb border-none">
                                           <div class="gradient-title">
                                               <div class="row no-gutters">
                                                   <div class="col-4 text-center-mb">
                                                       <h2 class="mb10--mb">My Ad List</h2>
                                                   </div>
                                                   <div class="col-8">
                                                       <div class="layout-switcher float-none-mb text-center-mb mb10--mb">
                                                           <ul>
                                                               <li>
                                                                   <div class="page-controls-sorting">
                                                                       <div class="dropdown">
                                                                           <button class="btn sorting-btn dropdown-toggle" type="button" data-toggle="dropdown">Sort By<i class="fa fa-sort" aria-hidden="true"></i></button>
                                                                           <ul class="dropdown-menu">
                                                                               <li><a href="my-account.html#">Date</a></li>
                                                                               <li><a href="my-account.html#">Best Sale</a></li>
                                                                               <li><a href="my-account.html#">Rating</a></li>
                                                                           </ul>
                                                                       </div>
                                                                   </div>
                                                               </li>
                                                               <li class="active"><a href="my-account.html#" data-type="category-list-layout3" class="product-view-trigger"><i class="fa fa-th-large"></i></a></li>
                                                               <li><a href="my-account.html#" data-type="category-grid-layout3" class="product-view-trigger"><i class="fa fa-list"></i></a></li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div id="category-view" class="category-list-layout3 gradient-padding zoom-gallery">
                                               <div class="row">
                                                   {% for classified in user_classifieds %}
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                       <div class="product-box item-mb zoom-gallery">
                                                           <div class="item-mask-wrapper">
                                                               <div class="item-mask secondary-bg-box"><img src="{{ classified.images.first.get_src }}" alt="categories" class="img-fluid">
                                                                   <div class="trending-sign active" data-tips="Featured"> <i class="fa fa-bolt" aria-hidden="true"></i> </div>
                                                                   <div class="title-ctg">{{ classified.category }}</div>
                                                                   <ul class="info-link">
                                                                       <li><a href="{{ classified.images.first.get_src }}" class="elv-zoom" data-fancybox-group="gallery" title="Title Here"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a></li>
                                                                       <li><a href="single-product-layout1.html"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                                   </ul>
                                                                   <div class="symbol-featured"><img src="img/banner/symbol-featured.png" alt="symbol" class="img-fluid"> </div>
                                                               </div>
                                                           </div>
                                                           <div class="item-content">
                                                               <div class="title-ctg">Clothing</div>
                                                               <h3 class="short-title"><a href="{{ classified.get_absolute_url }}">{{ classified.title }}</a></h3>
                                                               <h3 class="long-title"><a href="{{ classified.get_absolute_url }}">{{ classified.title }}</a></h3>
                                                               <ul class="upload-info">
                                                                   <li class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ classified.create_date }}</li>
                                                                   <li class="tag-ctg"><i class="fa fa-tag" aria-hidden="true"></i>{{ classified.category }}</li>
                                                               </ul>
                                                               <p>{{ classified.description|truncatechars:50 }}</p>
                                                               <div class="price">{{ classified.price }} ₽</div>
                                                               <a href="{{ classified.get_absolute_url }}" class="product-details-btn">Подробнее</a>
                                                               <a href="{% url 'edit_classified_url' classified.slug %}">Редактировать</a>
                                                               <a href="{% url 'delete_classified_url' classified.slug %}">Удалить</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   {% endfor %}


                                            <div class="gradient-wrapper mb-60">
                                                <ul class="cp-pagination">
                                                    {% if user_classifieds.has_previous %}
                                                        <li><a href="?page={{ user_classifieds.previous_page_number }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Предыдущая страница</a></li>
                                                    {% else %}
                                                        <li class="disabled"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Предыдущая страница</li>
                                                    {% endif %}
                                                    {% for p in page_range %}
                                                        {% if p == user_classifieds.number %}
                                                            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
                                                        {% else %}
                                                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if user_classifieds.has_next %}
                                                        <li><a href="?page={{ user_classifieds.next_page_number }}">Следующая страница<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                                    {% else %}
                                                        <li class="disabled">Следующая страница<i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Login Area End Here -->
{% endblock %}